<v-app id="inspire">

  <v-app-bar hide-on-scroll app color="rgb(51, 51, 51)" dark>
    <router-link to="/" class="pr-6 pl-2">
      <v-icon>mdi-home</v-icon>
    </router-link>
    
    <v-toolbar-title left>The Digital Human Library's Cultural Learning Tool</v-toolbar-title>

    <v-spacer></v-spacer>

    <v-btn icon x-large href="https://digitalhumanlibrary.com" target="_blank">
      <img height="39em" :src="require('../../assets/dhl-logo.png')" />
    </v-btn>
    <v-btn icon x-large href="https://github.com/WesleyDMartin/DHLCapstone" target="_blank">
      <v-icon x-large color="#FFFFFF">mdi-github</v-icon>
    </v-btn>
    <v-btn icon x-large href="https://dhlconestogacapstone.atlassian.net/l/c/RH3DPimy" target="_blank">
      <img height="39em" :src="require('../../assets/confluence-greyscale.png')" />
    </v-btn>
  </v-app-bar>

  <v-content style="background-color: #ededed">
    <v-container>
      <v-carousel v-show="showBanner" cycle hide-delimiter-background :show-arrows="true" height="30em">
        <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src">
          <div class="carousel-div display-1" style="min-width: 540px;">
            {{item.text}}
          </div>
        </v-carousel-item>
      </v-carousel>
      <v-container>
        <v-row justify="space-between">
          <v-col md="6" cols="12">
            <v-row>
              <v-card-title class="display-2">The Project</v-card-title>
              <p>This project evolved from Leigh Cassel's desire to create a unique experience
                which will allow students to learn about different cultures from the safety of their own classroom.
                Our goal is to provided a way to truly experience this learning in a Virtual Reality application. To be
                able to accomplish this unique experience,
                multiple different technologies have been brought together. To assure everybody’s safety, no vibranium
                was used to build this
                project.
              </p>
              <div id="vid-wrapper">
                <iframe width=100% height="100%" src="https://www.youtube.com/embed/oyjurz0o14M" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>
              <p>
                With all jokes aside, the technologies that has been used to accomplish this project has been listed
                below.
                <li>The desktop application has been built on Unity where the virtual reality experience will be
                  provided on oculus headset</li>
                <li>The communication between the user and the application has been supported by TensorFlow and Googles
                  speech to text API in the backend</li>
                <li>The administration web portal has been built on rails for the backend and Vue for the front end</li>
              </p>
            </v-row>
          </v-col>
          <v-col md="5" cols="12">
            <v-row>
              <v-card-title class="display-2">The Story</v-card-title>
              <p>
                When we think about learning, we often imagine books, pencils, and paper; however, we now understand
                that learning happens in many different ways.
                Teachers know that interactions, relationships, and hands-on experiences are essential within the
                learning environment.
                The Digital Human Library is one of the first educational platforms to focus on learning through human
                connections. This Connection-based learning/education is an
                approach focused on building relationships and partnerships between students, teachers, families,
                experts and organizations. The DHL aims to "create a Cultural Learning Catelogue that allows users to
                interact with cultural experts.
              </p>

              <p>
                Creating an interactive catelogue means that students will obtain a deeper understanding of the many
                cultures that exist around the world.
                The founded of The Digital Human Library, Leigh Cassell, explains that "The need for cultural
                understanding and empathy is, and will continue to be, at the forefront of necessary learning in our
                increasingly globalized world." The Digital Human Library provides educators and students with a
                resource that uses first-hand expereinces to deliver information.

                <p>
                  Our project aimed to create a Virtual Reality experience where people are able to ask questions to the
                  system or VR guide. The guide will be able to provide a text-based answer, along with video
                  information, in a virtual reality format. Depending on availability, the viewer will be able to
                  explore 360 videos as well as regular videos. This format will allow people to better understand
                  connect and
                  with people from various cultures. While the system currently incorporates only a few different
                  cultures, it will continue to be updated to eventually allow users to vitrually travel the world.
                </p>

            </v-row>
          </v-col>
        </v-row>
        <v-container fill-height fluid>
          <v-row justify="center">
            <v-col justify="center" sm="12" md="auto">
              <v-btn x-large color="white" href="https://digitalhumanlibrary.com" target="_blank" v-on="on">
                <v-row class="center-bar-links">
                  <img height="50px" :src="require('../../assets/dhl-logo.png')" />
                  <span class="headline">Digital Human Library</span>
                </v-row>
              </v-btn>
            </v-col>
            <v-col justify="center" sm="12" md="auto">
              <v-btn x-large color="white" href="https://github.com/WesleyDMartin/DHLCapstone" target="_blank"
                v-on="on">
                <v-row class="center-bar-links">
                  <v-icon size="50" color="#2B414D">mdi-github</v-icon>
                  <span class="pl-1 pr-5 headline">GitHub Code</span>
                </v-row>
              </v-btn>
            </v-col>
            <v-col justify="center" sm="12" md="auto">
              <v-btn x-large color="white" href="https://dhlconestogacapstone.atlassian.net/l/c/RH3DPimy"
                target="_blank" v-on="on">
                <v-row class="center-bar-links" justify="center">
                  <img height="50px" :src="require('../../assets/confluence.png')" />
                  <span class="pl-1 pr-5 headline">Project Documentation</span>
                </v-row>
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
        <v-row>
          <v-col>
            <v-row justify="center">
              <v-card-title class="display-1">Our Technologies</v-card-title>
            </v-row>
            <v-row justify="center">
              <v-col class="ma-n2" md="2" sm="12" min-width="200px">
                <v-row v-for="(tech, i) in technologies" :key="i">
                  <v-card hover @click="updateTech(i)" class="techs ma-2" width="100%" flat>
                    <v-card-title>{{tech.tech}} </v-card-title>
                  </v-card>
                </v-row>
              </v-col>
              <v-col md="10" sm="12">
                <v-card id="tech-detail" flat>
                  <v-row>
                    <v-col md="5" sm="12">
                      <v-row class="pl-3 pr-3">
                        <v-card-title>{{currentTechnology.tech}} </v-card-title>
                        <v-card-text>{{currentTechnology.description}}</v-card-text>
                        <v-card-text>{{currentTechnology.use}}</v-card-text>
                      </v-row>
                      <v-card-actions>

                        <v-btn v-for="(link, i) in currentTechnology.links" :href="link.url" :key="i" text>
                          {{link.value}}
                        </v-btn>
                      </v-card-actions>
                    </v-col>
                    <v-col md="7" sm="12" class="pt-0 pr-0 pb-0">
                      <v-img class="white--text mr-3" :src="currentTechnology.image"
                        @click="updateGalleryImage({title: currentTechnology.tech, path: currentTechnology.image})"
                        style="border-top-right-radius: 4px; border-bottom-right-radius: 4px;">
                      </v-img>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>

          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-row justify="center">
              <v-card-title class="display-1">Our Team</v-card-title>
            </v-row>
            <v-row justify="center">
              <v-col class="ma-n2" md="2" cols="12">
                <v-row v-for="(person, i) in people" :key="i">
                  <v-card hover @click="updatePerson(i)" class="techs ma-2" width="100%" flat>
                    <v-card-title>{{person.name}} </v-card-title>
                  </v-card>
                </v-row>
              </v-col>
              <v-col md="8" sm="12">
                <v-card id="tech-detail" flat>
                  <v-row align-content="space-between">
                    <v-col md="5" sm="12">
                      <v-row class="pl-3 pr-3">
                        <v-card-title>{{currentPerson.name}} </v-card-title>
                        <v-card-text>{{currentPerson.role}}</v-card-text>
                      </v-row>
                      <v-card-actions>

                        <v-btn v-for="(link, i) in currentPerson.links" :href="link.url" :key="i" text>
                          {{link.value}}
                        </v-btn>
                      </v-card-actions>
                    </v-col>
                    <v-col md="7" cols="12" class="pt-0 pr-0 pb-0">
                      <v-img contain class="white--text mr-3" max-height="400px" ratio="1" align-self="stretch"
                        :src="currentPerson.image"
                        style="border-top-right-radius: 4px; border-bottom-right-radius: 4px;">
                      </v-img>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>

          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-container fluid>
              <v-row justify="center">
                <v-card-title class="display-1">Gallery</v-card-title>
              </v-row>
              <v-row justify="center">
                <v-card-title class="subtitle-1 mt-n6">Click Each Image</v-card-title>
              </v-row>
              <v-row>
                <v-col v-for="(shot, i) in screenshots" :key="i" class="d-flex child-flex" cols="2">
                  <v-card hover flat tile class="d-flex">
                    <v-img :src="shot.path" aspect-ratio="1" class="grey lighten-2" @click="updateGalleryImage(shot)"
                      style="cursor: pointer">
                    </v-img>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-col>
        </v-row>
        <!-- <main-body-row v-for="(row,i) in rows" :key="i" :text="row.text" rowheight="400px" :direction="row.direction" :assetpath="row.src" /> -->

      </v-container>


      <v-dialog v-model="galleryImage" max-width="75%">
        <v-card>
          <v-card-title class="headline">{{currentGalleryImage.title}}</v-card-title>
          <v-img :src="currentGalleryImage.path" min-wdith="500px" width="100%" class="grey lighten-2">
          </v-img>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="galleryImage = false">
              CLOSE
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>


    </v-container>
  </v-content>
  <v-footer color="rgb(51, 51, 51)" app>
    <span class="white--text">&copy; 2019</span>
  </v-footer>
</v-app>