player-connection-mode=Listen
player-connection-guid=121643526
player-connection-debug=1
player-connection-wait-timeout=-1
player-connection-ip=10.192.190.188
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
wait-for-managed-debugger=1
scripting-runtime-version=latest
vr-enabled=1
vr-device-list=Oculus,OpenVR
hdr-display-enabled=0
